body {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.container {
    background-color: "#F7F7F7";
    justify-content: center;

    display: grid;
}
.wrapper-topbar {
    width: 100%;
    height: 70px;
    /* background: red; */
    justify-content: center;
    border-bottom: 2px solid #ebebeb;
    display: flex;
}
.top-bar {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    width: 1200px;
}
.block-left {
    justify-content: center;
    align-items: center;
    display: flex;
}
.logo {
    text-align: center;
    font: italic normal bold 44px Helvetica Neue;
    color: #707070;
    margin-right: 80px;
}
.bar-logo {
    position: absolute;
    margin-left: 0;
    margin-top: 6px;
    width: 107px;
    height: 7px;
    border-radius: 6px;
    background: #b5c401;
}
.home {
    text-align: center;
    font: italic normal bold 20px Helvetica Neue;
    color: #707070;
}
.block-right {
    justify-content: center;
    align-items: center;
    display: flex;
}
.account {
    text-align: center;
    font: italic normal bold 20px Helvetica Neue;
    color: #707070;
}
.log-out {
    text-align: center;
    font: italic normal bold 20px Helvetica Neue;
    color: #707070;
    margin-left: 80px;
}
main {
    width: 1200px;
    display: flex;
}
.content-left {
    width: 65%;
}
.content-rigth {
    width: 35%;
}
.box-1 {
    display: grid;
}
.block-titles-top {
    display: grid;
}
.span-title-one {
    color: #707070;
    text-transform: uppercase;
    font: italic normal 24px Helvetica Neue;
    margin-top: 70px;
}
.patch {
    color: #707070;
    text-transform: uppercase;
    font: italic normal bold 24px Helvetica Neue;
}
.span-title-two {
    text-align: left;
    font: italic normal bold 17px Helvetica Neue;
    color: #868686;
    margin-top: 30px;
}
.buttons-choose {
    margin-top: 15px;
}
/* .choose-button-one {
    width: 113px;
    height: 34px;
    border-radius: 30px;
    border-width: 0;
    border: 2px solid #7f3992;
    cursor: pointer;
    text-align: center;
    font: italic normal bold 14px Helvetica Neue;
    color: #7f3992;
    margin-right: 20px;
}
.choose-button-two {
    width: 113px;
    height: 34px;
    border-radius: 30px;
    border-width: 0;
    border: 2px solid #01ac66;
    cursor: pointer;
    text-align: center;
    font: italic normal bold 14px Helvetica Neue;
    color: #01ac66;
    margin-right: 20px;
}
.choose-button-three {
    width: 113px;
    height: 34px;
    border-radius: 30px;
    border-width: 0;
    border: 2px solid #f79c31;
    cursor: pointer;
    text-align: center;
    font: italic normal bold 14px Helvetica Neue;
    color: #f79c31;
    margin-right: 20px;
}

.choose-button-one,
.choose-button-two,
.choose-button-three,
.button-complete-game,
.button-clear-game,*/
.button-add-cart {
    outline: none;
    box-shadow: none;
} 

/* .buttons-choose button {
    cursor: pointer;
    outline: none;
    box-shadow: none;

    width: 113px;
    height: 34px;
    border-radius: 30px;
    border-width: 0;
    cursor: pointer;
    text-align: center;
    font: italic normal bold 14px Helvetica Neue;
    color: #fff;
    margin-right: 20px;
} */

.box-2 p {
    text-align: left;
    font: italic normal 17px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #868686;
    margin-right: 50px;
}
.box-2 p span {
    font: italic normal bold 17px/24px Helvetica Neue;
    color: #868686;
}
.container-balls {
    display: grid;
    /* aqui eu determino é são 3 colunas de tamanhos iguas, cada coluna tem uma fração */
    grid-template-columns: repeat(10, 1fr);
    /* esssa é a altura das linhas, se vc quiser pode apaga-la caso não queira uma altura definida */
    grid-auto-rows: 75px;
    /* espaço entre um elemento interno e outro */
    grid-gap: 5px 8px;
    /* margem interna que afasta os elementos da borda do grid */
    padding: 0 10px 10px 0;
    margin-top: 20px;
    margin-bottom: 30px;
}
.box-3 .container-balls .ball {
    background: #adc0c4;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    margin-bottom: 5px;
}
.box-3 .container-balls .ball span {
    font: normal normal bold 20px/24px Helvetica Neue;
    color: #ffffff;
}
.buttons-options {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.button-complete-game {
    height: 52px;
    border-radius: 10px;
    border-width: 0;
    border: 2px solid #27c383;
    cursor: pointer;
    text-align: center;
    font: italic normal bold 16px Helvetica Neue;
    color: #27c383;
}
.button-clear-game {
    height: 52px;
    border-radius: 10px;
    border-width: 0;
    border: 2px solid #27c383;
    cursor: pointer;
    text-align: center;
    font: italic normal bold 16px Helvetica Neue;
    color: #27c383;
}
.button-add-cart {
    height: 52px;
    border-radius: 10px;
    border-width: 0;

    background: #01ac66;
    cursor: pointer;
    text-align: center;
    font: italic normal bold 16px Helvetica Neue;

    color: #fff;
}

.card-base {
    border-radius: 10px 10px 0 0;
    background: #fff;
    /* border: 1px solid #e2e2e2; */
    margin: 40px 0 auto 10px;
    padding: 15px;
    border-left: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

.cart-total {
    margin: 0 0 auto 10px;
    padding: 15px;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}
.title-card {
    text-align: left;
    font: italic normal bold 24px Helvetica Neue;
    color: #707070;
    text-transform: uppercase;
}
.list-games {
    display: flex;
    margin-top: 35px;
}
.fa-trash-alt {
    color: #888888;
    cursor: pointer;
}
.game-icon {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50px;
}
.divisor-element {
    width: 5px;
    height: auto;
    background: #7f3992;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.game-description {
    margin: 10px 5px 10px 10px;
    display: grid;
    width: 280px;
    word-wrap: break-word;
}
.game-description .span-number-list {
    text-align: left;
    font: italic bold 18px Helvetica Neue;
    color: #868686;
    width: 280px;
}
.information-cart-empty {
    display: flex;
    justify-content: center;
    font: normal normal 300 24px/85px Helvetica Neue;
    color: #707070;
}

.cart-total span {
    font: italic normal bold 24px/85px Helvetica Neue;
    letter-spacing: 0px;
    color: #707070;
    text-transform: uppercase;
}
.cart-total .value-total {
    text-align: left;
    font: normal normal 300 24px/85px Helvetica Neue;
    color: #707070;
}
.cart-total .span-value-total {
    text-align: left;
    font: normal normal 300 24px/85px Helvetica Neue;
    color: #707070;
}
.save-button {
    width: auto;
    height: 95px;
    background: #f4f4f4 0% 0%;
    border: 1px solid #e2e2e2;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 0 auto 10px;
    padding: 15px;
    border-radius: 0 0 10px 10px;
}
.save-button span {
    text-align: center;
    font: italic normal bold 35px/70px Helvetica Neue;
    color: #27c383;
}

.footer {
    width: 100%;
    height: 70px;

    justify-content: center;
    align-items: center;
    border-top: 2px solid #ebebeb;
    display: flex;
    margin-top: 150px;
}
.footer .text-footer {
    text-align: center;
    font: normal 15px Helvetica Neue;
    color: #707070;
}
